.register{
height: calc(100vh - 50px);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background:linear-gradient(
    rgba(255,255,255,0.5),rgba(255,255,255,0.5)
) ,url('https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-size: cover;

/* background-color:lightblue; */
}

.registerTitle{
color: rgb(96, 96, 96);
font-size: 50px;
}

.registerForm{
    color:rgb(96, 96, 96);
    font-size: 20px;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm>label{
    margin: 10px 0;

}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;


}

.loginButton{
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;

    position: absolute;
    top: 60px;
    right: 20px;
}

